x.social-likes.social-likes_light.social-likes_notext {data-title=social_share_title(post) data-url=social_share_url(post) data-counters="no"} 
  .facebook title="Share link on Facebook"
  .twitter data-via="crowdint" title="Share link on Twitter"
  .plusone title="Share link on Google+"
