.share-about { background-color: $about-color; }
.share-careers { background-color: $careers-color; }
.share-contact { background-color: $contact-color; }
.share-home, .share-portfolio, .share-blog { background-color: $home-color; }
.share-team { background-color: $team-color; }
.share-we-do { background-color: $we-do-color; }

.share-blog {
  
}

.share-body {
  height: 374px;
  padding-top: 2em;

  @include mq-tablet('portrait') { height: auto; }
  @include mq-mobile() { padding-top: 1.125em;  height: auto; }
}

.share-title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 60pt;
  line-height: 1.8em;

  @include mq-tablet('portrait') { margin-bottom: 1.7em; }
  @include mq-mobile() { font-size: 1.625em; line-height: 1.2em; margin-bottom: 1.7em; }
}

.share-post {
  text-align: left;

  h1 {
    font-size: 26pt;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 1em;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  h3 {
    text-align: left;
    font-size: 1.7em;
    margin: 1em 0;
  }

  h4 {
    font-size: 1.4em;
    font-weight: 100;
  }

  hr {
    border-top: solid 1px $blog-color;
    margin: 1em auto;
    height: 0;
    width: 100%;
  }

  p {
    img {
      width: 100%;
    }
  }

  .author {
    font-size: 16px;
    line-height: 3em;
    margin-top: 0;
    margin-bottom: 2em;

    .gravatar{
      background-color: white;
      float: left;
      height: 40px;
      padding: 4px;
      width: 40px;
    }

    a {
      font-weight: bold;
      font-size: 1.2em;
    }
    span.by{
      color: $white;
    }
    span.separator{
      font-size: 1.5em;
      color: $white;
    }
    span {
      margin-left: 1em;
      font-size: 1.2em;
      color: lighten($white, 30%);
    }
  }

  ul {
    list-style-type: circle;
  }

  .short {
    h1, h2, h3 {
      font-size: 1em;
      font-weight: normal;
    }
  }

  .more {
    text-align: center;
    display: block;
    font-size: 1.2em;
    line-height: 3em;
    font-weight: 400;
  }

  p {
    line-height: 1.3em;
    font-size: 16px;
  }
}

.archive {
  h1 {
    font-size: 2em;
    margin-top: 0.5em;
  }

  h3 {
    text-align: left;
    margin: 1em;
    font-size: 1.5em;
    font-weight: 400;
  }
}

.author-posts {
  p {
    margin: 0 1em 0 0;
  }
}

.author-header {
  margin-top: 2em;
  text-align: center;

  h1 {
    font-weight: 100;
  }
}

.gravatar {
  webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  //padding: 10px;
  //border: solid 1px $blog-color;
}
