<section id='share' class='share-blog'>
  <div class='l-wrapper share-body'>
    <h3 class='share-title is-not-mobile'>We share what we know</h3>
    <h3 class='share-title is-mobile'>We share what we know</h3>
	   <%= render 'we_share_lastPost', post: @posts.first %>
  </div>
</section>